# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs

/*.mdb
/*.pdb
/*.pidb
/*.suo
/*.user
/*.unityproj
/*.booproj
*.apk 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
/*.apk
/StormGame.CSharp.Editor.v2.ncrunchproject
/StormGame.v2.ncrunchsolution
/StormGame.CSharp.v2.ncrunchproject
/_NCrunch_StormGame/StormGame.crunchsolution.cache
*.obb
/.idea/.idea.Stratego
/Stratego.Fsharp.Logic/.idea/.idea.Stratego.Fsharp.Logic/.idea
Stratego.CSharp.Console.Runner/bin/
Stratego.Fsharp.Logic/bin/
